#map, canvas {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}

canvas {
	cursor: crosshair;
}

#map {

}

#colors {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
}

#colors div {
	width: 6em;
	height: 3em;
}

.mappaint-control {
	background: rgba(255,255,255,0.66);
	border-radius: 4px;
}

.mappaint-color, .mappaint-eraser {
	margin:0.4em;
	width:3em;
	height:3em;
	border-radius: 50% 43%;
	/*box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.55) inset, 0px 0px 3px rgba(0,0,0,0.3);*/
	box-shadow: -3px -4px 0px 0px rgba(0, 0, 0, 0.35) inset, 2px 2px 0px 0px rgba(255,255,255,0.3) inset;
	cursor: pointer;
}

.mappaint-color.selected {
	box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.52) inset, -2px -2px 0px 0px rgba(255,255,255,0.35) inset;
}

.mappaint-color:hover, .mappaint-eraser:hover {
	box-shadow: -3px -4px 0px 0px rgba(0, 0, 0, 0.55) inset, 2px 2px 0px 0px rgba(255,255,255,0.5) inset;
}

.mappaint-color.selected:hover {
	box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.65) inset, -2px -2px 0px 0px rgba(255,255,255,0.5) inset;
}


.mappaint-eraser {
	text-align: center;
	background: -webkit-linear-gradient(left, #5981D8 39%, rgb(255, 0, 61) 39%);
	background: -moz-linear-gradient(left, #5981D8 39%, rgb(255, 0, 61) 39%);
	background: linear-gradient(left, #5981D8 39%, rgb(255, 0, 61) 39%);
	border-radius: 20% 30%;
	height: 2em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 1em;
	margin-bottom: 1em;
}

.mappaint-eraser.selected {
	background: -webkit-linear-gradient(left, #4369BB 39%, rgb(255, 6, 6) 39%);
	background: -moz-linear-gradient(left, #4369BB 39%, rgb(255, 6, 6) 39%);
	background: linear-gradient(left, #4369BB 39%, rgb(255, 6, 6) 39%);
}

.mappaint-eraser:hover {
	color: #880e4f;
}